asgiref
beautifulsoup4
crispy-bootstrap4
distlib
Django
django-bootstrap4
djangorestframework
filelock
gunicorn
Jinja2
MarkupSafe
Pillow
platformdirs
pytz
soupsieve
sqlparse
tzdata
virtualenv
psycopg2
whitenoise
dj_database_url
channels
amqp
async-timeout
asyncio
attrs
autobahn
Automat
billiard
celery
cffi
channels-redis
click
click-didyoumean
click-plugins
click-repl
constantly
cryptography
daphne
django-celery-beat
django-celery-results
django-timezone-field
hiredis
hyperlink
idna
incremental
kombu
msgpack
prompt-toolkit
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
python-crontab
python-dateutil
redis
plyer
