{% extends 'core/base.html' %}

{% block content %}

<head>
    <style>
        .banner {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .quote {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }
        
        .message {
            font-size: 16px;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="banner">
        <div class="quote">"Discover Unique Products and Connect with Sellers"</div>
        <div class="message">At our Marketplace, you can explore a wide range of products from various sellers. Whether you're searching for something specific or simply browsing for inspiration, our platform offers a diverse collection of unique items. Connect directly with sellers to ask questions, discuss details, and make informed decisions. Start your shopping journey today and experience a seamless marketplace experience.</div>
    </div>
</body>


{% endblock %}