{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="mt-0 px-6 py-2 bg-gray-100 rounded-xl">
    <div class="flex justify-center items-center">
    
    {% if user.is_authenticated %}
        <marquee>
        <h2 class="text-2xl text-center mt-5">
            <b class="text-3xl lg:text-4xl"><b>Welcome</b>, {{ user.username }}!</b>
         </h2>
        <p class="text-lg text-center mt-3">Thank you for choosing PostMarket. Start exploring latest items and find great deals!</p>
    </marquee>

    {% endif %}
    </div>

    <form method="get" action="{% url 'item:items' %}" class="flex flex-wrap mt-6">
        <div class="w-full sm:w-auto sm:flex-grow sm:mr-4 mb-4 sm:mb-0">
            <input name="query" class="py-2 px-4 border rounded w-full sm:w-auto" type="text" value="{{ query }}" placeholder="Find your items here..." style="border-radius: 20px;">
        </div>
        <button class="py-2 px-4 text-sm bg-teal-500 text-white rounded" style="border-radius: 20px;">Search</button>
    </form>

    <h2 class="mb-12 text-2xl text-center mt-5"><b class="text-3xl lg:text-4xl">NEWEST ITEMS</b></h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-2">
            {% for item in items|slice:":15" reversed %}
    {% if item.image %}
        <div class="flex flex-col items-center mb-4">
            <a href="{% url 'item:detail' item.id %}">
                <div class="w-full max-w-xs">
                    <img src="{{ item.image.url }}" class="object-cover w-full h-64 rounded-t-xl" style="width: 400px;">
                </div>
            </a>
            <div class="p-6 bg-white rounded-b-xl w-full max-w-xs">
                <a href="{% url 'item:detail' item.id %}">
                    <h2 class="text-xl lg:text-2xl">{{ item.name }}</h2>
                </a>
                <p class="text-gray-500">Price: FCFA {{ item.price }}</p>
                {% if request.user.is_authenticated %}
                
                    {% if item in favorite %}
                        <p>excellent</p>
                        <a href="{% url 'item:remove_from_favorite' pk=item.pk %}">
                            <svg class="bi bi-heart wishlist-icon" width="16" height="16" viewBox="0 0 16 16">
                                <path fill="#FF9900" d="M8 14.757l-6.5-6.5C.57 7.034 0 5.979 0 4.915 0 2.67 1.79 1 4 1c1.133 0 2.266.44 3 1.286C8.734 1.44 9.867 1 11 1c2.21 0 4 1.67 4 3.915 0 1.064-.57 2.119-1.5 3.342L8 14.757z"/>
                            </svg>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}

    </div>
    <center>
        <div class="btn btn-primary">
            <a href="{% url 'item:items'%}" class="px-4 py-2 text-lg font-semibold text-white rounded-xl" style="border-radius: 15px; margin: auto;">See More Items</a>
        </div>
    </center>
    <br>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Categories</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-3">
        {% for category in categories %}
        <div>
            <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-xl lg:text-2xl">{{ category.name }}</h2>
                    <p class="text-gray-500">{{ category.items.count }} items</p>
                </div>
            </a> 
        </div>
        {% endfor %}
    </div>
</div>
<div class="mt-5">,</div>
{% endblock %}