{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="mt-0 px-6 py-2 bg-gray-100 rounded-xl">
    {% comment %} <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl flex justify-center items-center"> {% endcomment %}
        <form method="get" action="{% url 'item:items' %}" class="flex flex-wrap">
               <div style=" margin: auto; ">
            <input name="query" class="py-2 px-4 border rounded" type="text" value="{{ query }}" placeholder="Find your items here..." style="width: 300px;border-radius: 20px;">
            <button class="ml-2 sm:ml-4 py-2 px-4 text-sm bg-teal-500 text-white rounded" style="border-radius: 20px;">Search</button>
            </div>
        </form>


    {% comment %} </div> {% endcomment %}
    <h2 class="mb-12 text-2xl text-center mt-5"><b class="text-3xl lg:text-4xl">Newest items</b></h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-2">
{% for item in items|slice:":15" reversed %}
        <div class="flex flex-col items-center mb-4"> <!-- Added margin-bottom  so as to have space between my text and the upper one-->
            <a href="{% url 'item:detail' item.id %}">
                <div class="w-full max-w-xs">
                    <img src="{{ item.image.url }}" class="object-cover w-full h-64 rounded-t-xl" style="width: 400px;">
                </div>
            </a>
            <div class="p-6 bg-white rounded-b-xl w-full max-w-xs">
                <a href="{% url 'item:detail' item.id %}">
                    <h2 class="text-xl lg:text-2xl">{{ item.name }}</h2>
                </a>
                <p class="text-gray-500">Price: FCFA {{ item.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Categories</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-3">
        {% for category in categories %}
        <div>
            <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">
            <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-xl lg:text-2xl">{{ category.name }}</h2>
                    <p class="text-gray-500">{{ category.items.count }} items</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
