{% extends 'core/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="w-full sm:w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">PostMarket Admin</h1>
    <h2>We've emailed you instructions for setting your 
        password, if an account exists with the email 
        you entered, You should receive them shortly
    </h2>
<br><br><br><br>
    <p> 
        If you don't receive the email, please make sure 
        you've entered the address you registered with, and check
        your spam folder
    </p>


    

    <div class = "mt-5">`</div>
    <center>
        <div class="mt-5">For advanced help, contact <b style="color: #ff9900;"><a href="mailto:zilopostmarket@gmail.com">PostMarket@Zilo.support</a></b></div>    </center>
</div>
{% endblock %}