{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} m-2" id="msg" role="alert">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
</div>    
<div class="container mt-5 grid grid-cols-1 md:grid-cols-5 gap-6 container">
   
    {% if item.image %}
    <div class="md:col-span-3">

        
      <div class="md:col-span-3">
        <div class="d-flex flex-wrap align-items-center container">
          <img src="{{ item.image.url }}" class="rounded-xl mb-3 mb-md-0" width="500" height="500" onclick="showFullscreenImage('{{ item.image.url }}')">
    </div>

    
</div>
    
        {% if item_in_favorite %}
    <a href="{% url 'item:remove_from_favorite' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl" onclick="showPopup(event)">Remove item from Favorite</a>
{% else %}


<style>
#popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 6px;
  font-family: Arial, sans-serif;
}

#popup p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

<style>
#fullscreen-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  text-align: center;
}

#fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 5%;
  border-radius: 6px;
}

#fullscreen-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  text-align: center;
}

#fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 5%;
  border-radius: 6px;
}

</style>

{% if request.user.is_authenticated %}
<a href="{% url 'item:add_to_favorite' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl" onclick="showPopup(event)">Add item to Favorite</a>
{% endif %}
<div id="popup">
    {% if favorite_counter < 5 %}
        <p>Your Cart is full. You have to remove some items.</p>
    {% else%}
        <p>Item added to Favorite!</p>
    {% endif %}
</div>


{% comment %} <div id="fullscreen-image">
  <span class="close-button" onclick="closeFullscreenImage()">&times;</span>
  <img id="fullscreen-image-img">
</div> {% endcomment %}


<script>

function showPopup(event) {
    event.preventDefault(); // Prevent the link from redirecting
    
    // Show the popup
    var popup = document.getElementById("popup");
    popup.style.display = "block";
  
    // Set timeout to hide the popup after 3 seconds
    setTimeout(function() {
        popup.style.display = "none";
    }, 3000);
  
    // Make an AJAX request to add the item to the favorite list
    var url = event.target.href; // Get the URL from the link's href attribute
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url);
    xhr.onload = function() {
        if (xhr.status === 200) {
            // Item successfully added to the favorite list
            popup.innerHTML = '<p>Item added to Favorite!</p>';
        } else {
            // Handle the error case
            popup.innerHTML = '<p>Error adding item to Favorite!</p>';
        }
    };
    xhr.send();
}
</script>



{% endif %}

        {% endif %}
        <div class="p-6 bg-gray-100 rounded-xl mt-6">
            <h1 class="mb-6 text-3xl"><b>{{ item.name }}</b></h1>
            <p class="text-gray-500"><strong>Price: </strong>FCFA{{ item.price }}</p>
            <p class="text-gray-500"><strong>Location: </strong>{{ item.location }}</p>
            <p class="text-gray-500"><strong>Seller: </strong><strong>{{ item.created_by.username }}</strong></p>
            <p class="text-gray-500"><strong>Quantity: <strong>{{ item.quantity }}</strong></p>
            
            {% if item.description %}
                <p class="text-gray-700">
                    <strong class="text-gray-500">Description:</strong><br>
                    {{ item.description }}
                </p>
            {% endif %}

            
            {% load custom_filters %}

            <div class="mt-6">
              <h2 class="text-xl">Reviews</h2>
              {% if item.reviews.all %}
                  <ul class="mt-4">
                      {% for review in item.reviews.all %}
                          <li class="mb-4">
                              <div class="flex items-center">
                                  <span class="mr-2 font-bold">{{ review.user.username }}</span>
                                  {% for _ in review.stars_range %}
                                      <span class="fas fa-star text-yellow-500"></span>
                                  {% endfor %}
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
                  <p class="mt-4">Average Rating: {{ item.reviews.all|average_rate }}</p>
              {% else %}
                  <p>No reviews yet.</p>
              {% endif %}
          </div>
          
          {% if request.user.is_authenticated %}
          <form method="post" class="mt-6">
            {% csrf_token %}
            {{ form.as_p }}
        
            <div class="rating-stars">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="5 stars" class="star">&#9733;</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="4 stars" class="star">&#9733;</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="3 stars" class="star">&#9733;</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="2 stars" class="star">&#9733;</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="1 star" class="star">&#9733;</label>
            </div>
        
            <input type="hidden" name="item_id" value="{{ item.id }}" />
        
            <button type="submit" class="px-4 py-2 text-white bg-gray-900 rounded-lg mt-4">Submit review</button>
        </form>
          {% else %}
              <p class="mt-6">Please <a href="{% url 'account_login' %}?next={{ request.path }}">log in</a> to add a review.</p>
          {% endif %}
          
          <style>
              .rating-stars {
                  unicode-bidi: bidi-override;
                  direction: rtl;
                  text-align: center;
              }
          
              .rating-stars input[type="radio"] {
                  display: none;
              }
          
              .rating-stars label.star {
                  display: inline-block;
                  font-size: 2rem;
                  color: #ccc;
                  transition: color 0.2s;
                  cursor: pointer;
              }
          
              .rating-stars input[type="radio"]:checked ~ label.star {
                  color: gold;
              }
          </style>
            {% if request.user == item.created_by %}
  <div class="mt-6 p-6 bg-white rounded-xl">
    <p>This is your item!</p>

    <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
    <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
  </div>
{% elif request.user.is_superuser %}
  <div class="mt-6 p-6 bg-white rounded-xl">
    <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
      <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact seller</a>

  </div>
{% else %}

    <br>
  <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact seller</a>
  <br><br>
{% endif %}



        </div>
    </div>

    
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl mb-5">
    <h2 class="mb-12 text-2xl text-center">Related items</h2>

    <div class="container">
  <div class="row">
    {% for item in related_items reversed %}
    <div class="col-md-4">
      <a href="{% url 'item:detail' item.id %}">
        <div class="card mb-4">
          {% if item.image %}
          <img src="{{ item.image.url }}" width="50px" height="10px" class="card-img-top" onclick="showFullscreenImage('{{ item.image.url }}')">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">Price: FCFA {{ item.price }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div id="fullscreen-image">
  <img id="fullscreen-image-img">
</div>


</div>
</div>


{% endblock %}
